body
    main
        .article
            p.paragraph#firstParagraph j'aime bien les cookies. En voici la preuve en 
                a(href="video.com/lorem") vidéo
                |  !
            p.end ceci est la fin de mon article
